    <!DOCTYPE html>
    <html>
        <head>
            <meta charset='utf-8' />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>LST Onsite availability</title>

            <link href="https://bootswatch.com/5/lux/bootstrap.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.0/font/bootstrap-icons.min.css" rel="stylesheet">
        </head>

        <body>
            {% include "navbar.html" %}
            <div class="container">
                <br/>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>
        </body>

        <!-- Add Event Modal -->
        <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addEventModalLabel">Add New Event</h5>
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                    </div>
                    <div class="modal-body">
                        <form id="addEventForm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name_person" class="form-label">Person Name</label>
                                <input type="text" class="form-control" id="name_person" name="name_person" required>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="full_day" name="full_day" checked>
                                <label class="form-check-label" for="full_day">Full Day</label>
                            </div>
                            <div class="mb-3" id="date_fields">
                                <div class="row">
                                    <div class="col">
                                        <label for="start_date" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" required>
                                    </div>
                                    <div class="col">
                                        <label for="end_date" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="time_fields" style="display: none;">
                                <div class="row">
                                    <div class="col">
                                        <label for="start_time" class="form-label">Start Time</label>
                                        <input type="time" class="form-control" id="start_time" name="start_time">
                                    </div>
                                    <div class="col">
                                        <label for="end_time" class="form-label">End Time</label>
                                        <input type="time" class="form-control" id="end_time" name="end_time" >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="place" class="form-label">Place</label>
                                <select class="form-select" id="place" name="place">
                                    <option value="Calp" selected>Calp</option>
                                    <option value="ORM">ORM</option>
                                    <option value="Mirca">Mirca</option>
                                    <option value="Remote">Remote</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="notes" class="form-label">Notes</label>
                                <textarea class="form-control" id="notes" name="notes"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Event</button>
                            </div>
                            {% comment %} <button type="submit" class="btn btn-primary">Add Event</button> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Event Details Modal -->
        <div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventDetailsModalLabel">Entry Details</h5>
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                    </div>
                    <div class="modal-body">
                        <p><strong>Person Name:</strong> <span id="event-name-person"></span></p>
                        <p><strong>Start:</strong> <span id="event-start"></span></p>
                        <p><strong>End:</strong> <span id="event-end"></span></p>
                        <p><strong>Place:</strong> <span id="event-place"></span></p>
                        <p><strong>Notes:</strong> <span id="event-notes"></span></p>
                        <input type="hidden" id="edit-event-id" name="id">
                        {% comment %} <button type="button" class="btn btn-primary" id="edit-event-btn" data-bs-toggle="modal" data-bs-target="#editEventModal" style="display: none;">Edit</button> {% endcomment %}
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="delete-event-btn" style="display: none;">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-primary">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this event?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <!-- Edit Event Modal -->
        <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEventModalLabel">Edit Event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editEventForm">
                            {% csrf_token %}
                            <input type="hidden" id="edit-event-id" name="id">
                            <div class="mb-3">
                                <label for="edit-name_person" class="form-label">Person Name</label>
                                <input type="text" class="form-control" id="edit-name_person" name="name_person" required>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="edit-full_day" name="full_day">
                                <label class="form-check-label" for="edit-full_day">Full Day</label>
                            </div>
                            <div class="mb-3" id="edit-date_fields">
                                <div class="row">
                                    <div class="col">
                                        <label for="edit-start_date" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="edit-start_date" name="start_date" required>
                                    </div>
                                    <div class="col">
                                        <label for="edit-end_date" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="edit-end_date" name="end_date">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="edit-time_fields" style="display: none;">
                                <div class="row">
                                    <div class="col">
                                        <label for="edit-start_time" class="form-label">Start Time</label>
                                        <input type="time" class="form-control" id="edit-start_time" name="start_time" required>
                                    </div>
                                    <div class="col">
                                        <label for="edit-end_time" class="form-label">End Time</label>
                                        <input type="time" class="form-control" id="edit-end_time" name="end_time" >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="edit-place" class="form-label">Place</label>
                                <select class="form-select" id="edit-place" name="place">
                                    <option value="Calp">Calp</option>
                                    <option value="ORM">ORM</option>
                                    <option value="Mirca">Mirca</option>
                                    <option value="Remote">Remote</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="edit-notes" class="form-label">Notes</label>
                                <textarea class="form-control" id="edit-notes" name="notes"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Event</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
        <script>
            $(document).ready(function() {
                var calendarEl = document.getElementById('calendar');
                if (calendarEl) {
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        headerToolbar: {
                            start: 'dayGridMonth timeGridWeek',
                            center: 'title',
                            end: 'prev today next'
                        },
                        views: {
                            dayGridMonth: {
                                showNonCurrentDates: false,
                                fixedWeekCount: false,
                                locale: 'en',  // Use locale settings if necessary
                            },
                            timeGridWeek: {
                                type: 'timeGrid',
                                slotMinTime: '06:00:00',  // Minimum time on the axis (6 AM)
                                slotMaxTime: '22:00:00'   // Maximum time on the axis (9 PM)
                            }
                        },
                        firstDay: 1,  // Monday as the first day of the week
                        selectable: true,
                        editable: true,
                        events: '/all_events/',
                        displayEventTime: false,
                        eventClick: function(info) {
                            // Fetch event details and show the details modal
                            $.ajax({
                                url: '/event/' + info.event.id + '/',
                                method: 'GET',
                                success: function(data) {
                                    var startDate = moment(data.start).format('DD-MM-YYYY HH:mm');
                                    var endDate = moment(data.end).format('DD-MM-YYYY HH:mm');
                                    if (data.all_day) {
                                        var adjustedEndDate = moment(data.end).subtract(1, 'days').format('DD-MM-YYYY');
                                        var adjustedStartDate = moment(data.start).format('DD-MM-YYYY');
                                        $('#event-end').text(adjustedEndDate);
                                        $('#event-start').text(adjustedStartDate);
                                    } else {
                                        $('#event-end').text(endDate);
                                        $('#event-start').text(startDate);
                                    }
                                    $('#event-name-person').text(data.title.split(' - ')[0]);
                                    $('#event-place').text(data.place);
                                    $('#event-notes').text(data.notes);
                                    $('#edit-event-id').val(info.event.id);

                                    {% if user.is_authenticated %}
                                        $('#edit-event-btn').show();
                                        $('#delete-event-btn').show();
                                    {% else %}
                                        $('#edit-event-btn').hide();
                                        $('#delete-event-btn').hide();
                                    {% endif %}

                                    $('#eventDetailsModal').modal('show');
                                }
                            });
                        },
                        eventRender: function(info) {
                            info.el.style.backgroundColor = info.event.extendedProps.color;
                        }
                    });
                    calendar.render();

                    var eventIdToDelete;

                    $('#delete-event-btn').on('click', function() {
                        eventIdToDelete = $('#edit-event-id').val();
                        $('#confirmDeleteModal').modal('show');
                    });

                    $('#confirmDeleteButton').on('click', function() {
                        $.ajax({
                            type: 'POST',
                            url: '/remove_event/',
                            data: {
                                id: eventIdToDelete,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            dataType: "json",
                            success: function(response) {
                                $('#eventDetailsModal').modal('hide');
                                $('#confirmDeleteModal').modal('hide');
                                calendar.refetchEvents();
                                location.reload();
                            },
                            error: function(response) {
                                console.log(error);
                                location.reload();
                            }
                        });
                    });

                    $('#addEventModal').on('hidden.bs.modal', function () {
                        $('#addEventForm').trigger('reset');
                        $('#time_fields input').removeAttr('required');
                    });

                    $('#full_day').change(function() {
                        if (this.checked) {
                            $('#time_fields').hide();
                            $('#time_fields input').removeAttr('required');
                        } else {
                            $('#time_fields').show();
                            $('#end_date').attr('required', 'required');
                            $('#start_time').attr('required', 'required');
                            $('#end_time').attr('required', 'required');
                        }
                    });

                    $('#addEventForm').on('submit', function(e) {
                        e.preventDefault();
                        $.ajax({
                            type: 'POST',
                            url: '{% url "add_event" %}',
                            data: $(this).serialize(),
                            dataType: "json",
                            success: function (data) {
                                $('#addEventModal').modal('hide');
                                calendar.refetchEvents();
                                location.reload();  // Reload page to show success message
                            },
                            error: function(data) {
                                console.log(error);
                                location.reload();  // Reload page to show success message
                            }
                        });
                    });
                }
            });

            // Function to remove all messages after a certain duration
            function removeMessages() {
                var messages = document.querySelectorAll('.alert'); // Target all elements with the class .alert
                // Loop through each message element
                messages.forEach(function(message) {
                    // Set timeout to remove the message after 5 seconds
                    setTimeout(function() {
                        message.remove();
                    }, 5000); // 5000 milliseconds = 5 seconds
                });
            }

            // Call the function when the page is ready
            document.addEventListener('DOMContentLoaded', function() {
                removeMessages(); // Remove messages when the page is loaded
            });
        </script>
    </body>
    </html>